<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
  </style>
    <meta charset="UTF-8">
    <title>Player Season Gamelog</title>
</head>
<body>
<h1>Player Season Gamelog</h1>

    <table>
        <th>Shot List</th>
        <th>Shot Chart</th>
      {%for header in player_season_game_log.headers %}
        <th>{{ header }} </th>
      {% endfor %}

      {% for game in player_season_game_log.rowSet %}
        <tr>
          <td>
              <a href="{% url 'player-game-shot-list' player_id=game.1 season_year=game.0 game_id=game.6  %}">Shot List</a>
          </td>
          <td>
              <a href="{% url 'player-game-shot-chart' player_id=game.1 season_year=game.0 game_id=game.6 %}">Shot Chart</a>
          </td>

          {% for data in game %}
            <td>{{ data }}</td>
          {% endfor %}

        </tr>
      {% endfor %}
    </table>

</body>
</html>
